html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 1rem;
}

a:hover {
  text-decoration: none;
}


section {
    padding: 10%;
    padding-top: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
}
main-info{
  font-family: 'Noto Serif', serif;

}
#name{
    font-family: 'Recursive', sans-serif;
}

.leftside {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 552px;
  bottom: 0px;
  z-index: 1;
  width: 40%;
  height: 100%;
}

.social a{

  margin-right: 1rem;
}
#about{

  font-family: 'Yatra One', cursive;
}
.footer {
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;

}
